[submodule "ticket721-webapp"]
	path = ticket721-webapp
	url = git@github.com:Horyus/ticket721-webapp
[submodule "ticket721-cacheserver"]
	path = ticket721-cacheserver
	url = git@github.com:Horyus/ticket721-cacheserver
[submodule "ticket721-csapi"]
	path = ticket721-csapi
	url = git@github.com:Horyus/ticket721-csapi
[submodule "ticket721-contracts"]
	path = ticket721-contracts
	url = git@github.com:Horyus/ticket721-contracts
[submodule "ticket721-companion"]
	path = ticket721-companion
	url = git@github.com:/Horyus/ticket721-companion
[submodule "ticket721-event-manager-server"]
	path = ticket721-event-manager-server
	url = git@github.com:/Horyus/ticket721-event-manager-server
[submodule "ticket721-event-scanner"]
	path = ticket721-event-scanner
	url = git@github.com:/Horyus/ticket721-event-scanner
